/* ----------->>> Home <<<------------ */
#home_bg_vid {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
#home {
  z-index: 0;
  width: 70%;
  height: 80vh;

  display: grid;
  place-items: center;
}
#ciit_logo {
  width: 350px;
  filter: drop-shadow(2px 3px 2px #000);
}
#home_btn {
  opacity: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  grid-template-columns: 1fr 0.5fr;
  position: absolute;
  bottom: 40%;
  color: white;
  filter: drop-shadow(1px 2px 1px #000);
  font-weight: bold;
  transition: 0.05s all ease-in-out;
}
#home_btn:hover {
  transform: scale(1.2);
}
#home_btn img {
  transform: scale(0.7);
}


/* ------>>> Floating Home <<<-------- */
#home_container {
  top: 100%;
  z-index: 1;
  width: 100%;
  height: 100vh;

  display: none;
  place-items: center;
  grid-template-columns: 65% 35%;
  position: absolute;
  transition: all 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */
}
.btn-close {
  z-index: 50;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 40px;
  transform: scale(0.6);
}
.btn::after  {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.3em;
  background-color: #000;
  transition: all 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
}
.btn:hover::after {
  width: 100%;
}
#home_content_left {
  background-color: white;
  display: grid;
  place-items: center;
  grid-template-columns: 8% 1fr;
  width: 100%;
  height: 100vh;
}
#home_content_btns {
  width: 100%;
  display: grid;
  row-gap: 30px;
  padding-bottom: 30px;
  place-items: center;
  place-self: flex-end;
}
.sideway-btn {
  cursor: pointer;
  height: max-content;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  user-select: none;
  text-transform: uppercase;
  font-family: PoppinsBold;
}
.sideway-btn::after  {
  content: '';
  position: absolute;
  top: 0;
  left: -4px;
  width: 0.2em;
  height: 0%;
  background-color: #000;
  transition: all 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */
}
.sideway-btn:hover::after {
  height: 100%;
}
.sideway-btn.active::after {
  height: 100%;
}
#home_content_body {
  width: 100%;
  height: 90vh;
  align-self: flex-end;
}
#container_school {
  display: grid;
}
#container_school > h1,
#container_college > h1,
#container_corporate_training > h1 {
  font-size: 5rem;
  font-family: MontserratBold;
}


/* ---->>> Bachelor's Degrees <<<----- */
#container_college,
#container_corporate_training  {
  position: relative;
  display: none;
}
.bachelors-degree {
  display: none;
  position: absolute;
  top: 0;
  place-content: flex-start;
  overflow: auto;
  background-color: white;
  width: 100%;
  height: 88vh;
  scrollbar-width: thin;
}
.bachelors-degree > h1 {
  font-size: 3rem;
  height: max-content;
  font-family: MontserratBold;
}
.bachelors-degree h3 {
  margin-top: 1.5rem;
  font-family: MontserratBold;
}
.btn-degree-exit {
  width: max-content;
  position: relative;
  padding-right: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.btn-degree-exit::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 0%;
  bottom: 0;
  right: 0;
  background-color: #000;
  transition: all 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */
}
.btn-degree-exit:hover::after {
  width: 100%;
}
.btn-degree-exit img {
  transform: scale(0.6);
}
#bachelors_degree_more_info {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#bachelors_degree_description {
  margin-top: 1.5rem;
}
#bachelors_degree_specializedSubjects,
#bachelors_degree_scholarships {
  display: grid;
  margin-left: 1rem;
  grid-template-columns: repeat(3, 1fr);
}


/* ----->>> Coporate Training <<<----- */
.corporate-training {
  width: 100%;
  height: 70vh;
  display: grid;
  row-gap: 30px;
  place-content: start;
  overflow: auto;
  scrollbar-width: thin;
}
.corporate-training #corporate-training-more-info {
  width: 100%;
  display: flex;
  column-gap: 20px;
}
.corporate-training #corporate-training-programs li {
  margin-left: 14px;
}
.container-btn-ct-register {
  width: 100%;
  display: grid;
  place-items: center;
}
.container-btn-ct-register button {
  font-size: 1.2rem;
}


/* ------->>> CIIT Building <<<------- */
#home_content_right {
  width: 100%;
  height: 100vh;
}
#home_content_right img {
  pointer-events: none;
  position: absolute;
}


/* ---->>> Corporate Training <<<----- */
#form_btn_close {
  width: 100%;
  display: grid;
  place-content: flex-end;
  cursor: pointer;
}
#form_btn_close img {
  width: 24px;
}
#container_form_ct {
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  place-items: center;
  position: absolute;
}
#form_ct_register {
  padding: 2rem;
  width: max-content;
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 54px 7px rgba(0, 0, 0, 0.308);
}
#form_ct_register label {
  place-self: start;
  margin-top: 10px;
}
#form_ct_register input {
  width: 100%;
  border-radius: 0.5em;
  border: 2px solid black;
  padding: 6px 10px 6px 10px;
  box-sizing: border-box;
}
#btn_submit {
  margin-top: 25px;
}
#btn_submit_loading img {
  width: 60px;
}
#btn_submit_loading {
  display: none;
  margin-top: 25px;
  pointer-events: none;
  background-color: black;
}


/* ----->>> Floating status <<<------- */
#home_status {
  z-index: 50;
  display: none;
  place-self: center;
  align-items: center;
  column-gap: 15px;
  bottom: 50px;
  font-size: 1.2rem;
  position: absolute;
  background-color: white;
  padding: 12px 18px 12px 18px;
  border-radius: 15px;
  box-shadow: 0px 5px 15px 4px rgba(0, 0, 0, 0.48);
}
#status_btn_close {
  cursor: pointer;
  width: 20px;
  background-color: rgba(128, 128, 128, 0.178);
  padding: 8px;
  border-radius: 50%;
}

/* ----------------------------------- */
/* --------->>> MOBILE <<<------------ */
/* ----------------------------------- */
@media (max-width: 35em) {
  
  html {
    font-size: 12px;
  }

  #ciit_logo {
    width: 300px;
  }

  #home_container {
    grid-template-columns: 1fr;
  }
  .btn-close {
    top: 20px;
    right: 10px;
  }

  #home_content_right {
    display: none;
  }
  #container_school > h1,
  #container_college > h1,
  #container_corporate_training > h1 {
    font-size: 4.5rem;
  }

  #bachelors_degree_specializedSubjects h4 {
    margin-top: 0.5rem;
  }
  #bachelors_degree_more_info,
  #bachelors_degree_specializedSubjects,
  #bachelors_degree_scholarships {
    grid-template-columns: 1fr;
  }
}
